<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <!--Loop over the `payload` variable, which is the list of articles-->
  {{range .payload }}
    <!--Create the link for the question based on its ID-->
    <div name="question">
      <a href="/question/view/{{.ID}}">
        <!--Display the title of the question -->
        <h2>{{.Question}}</h2>
      </a>
      <!--Display the content of the question-->
      <p>{{.Answer}}</p>
      <p> Likes : {{.Likes}} Dislikes : {{.Dislikes}} </p>
  {{end}}

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}